<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <meta name="google-site-verification" content="3zZB08yHMnnzX2oA3tX1vM0VxVQe99dnMP6ITNZCU_o">
    <title>Duypbaha</title>
    <meta name="keywords" content="duypbaha sowda dashary yurt harytlar dostawka satyn almak ashgabat turkmenistan ">
    <meta name="description" content="Duypbaha ansat ynamly calt">
    <meta name="author" content="Duypbaha">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/../css/bootstrap.min.css" />
    <!-- Site css -->
    <link rel="stylesheet" href="/../css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/../css/responsive.css" />
    <!-- colors css -->
    <link rel="stylesheet" href="/../css/colors1.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/../css/custom.css" />
    <link rel="stylesheet" href="/../css/menue.css">
    <!-- wow Animation css -->
    <link rel="stylesheet" href="/../css/animate.css" />
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="/../revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="/../revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="/../revolution/css/navigation.css" />
    </head>